div.scoreboard {
	margin: 0 auto;
	text-align: center;
	h2 {
		font-family: Kingthings_Spike, sans-serif;
		font-size: 55px;
		color: gold;
		text-shadow: 2px 2px #ff0000;
	}
	table#score-table {
		margin: 0 auto;
		width: 500px;
		backgound-color: blue;
		th {
			text-align: center;
			width: 10%;
			background-color: #fff;
		}

		td {
			text-align: center;
			width: 10%;
			background-color: #fff;
		}
	}

}
