header {
	margin: 0 auto;
	text-align: center;
}

div.signin-container {
	padding-top: 0.5em;
	margin: 0 auto;
	background-color: white;
	opacity: 0.9;
	max-width: 56em;
	border-radius: 0% 0% 15% 15%;
	input.form-control {
		max-width: 241.328px;
	}
}

#align {
	margin-left: 0.5em;
}

div#slider {
	margin: 0 auto;
	overflow: hidden;
	height: 28em;
	width: 56em;
	border-radius: 10% 10% 0% 0%;
	min-height: 5em;
	min-width: 10em;
}

div#slider figure img {
	float: left;
}

div#slider figure { 
	position: relative;
	width: 672em;
	margin: 0;
	left: 0;
	text-align: left;
	animation: 50s slide infinite;
	min-width: 56em;
	img {
		height: 28em;
		width: 56em;
		min-height: 5em;
		min-width: 10em;
	}
}



@keyframes slide {
0%	{ left: 0%; }
9% { left: -100%; }
18% { left: -200%; }
27% { left: -300%; }
36% { left: -400%; }
45% { left: -500%; }
54% { left: -600%; }
63% { left: -700%; }
72% { left: -800%; }
81% { left: -900%; }
90% { left: -1000%; }
100% { left: -1100%; }
}