header {
	padding-bottom: 1.2em;
}

#align {
	margin-left: 0.5em;
}

div#slider {
	overflow: hidden;
	height: 30em;
	width: 60em;
	border-radius: 5%;
	min-height: 5em;
	min-width: 10em;
}

div#slider figure img {
	float: left;
}

div#slider figure { 
	position: relative;
	width: 720em;
	margin: 0;
	left: 0;
	text-align: left;
	animation: 50s slide infinite;
	min-width: 60em;
}

img {
	height: 30em;
	width: 60em;
	min-height: 5em;
	min-width: 10em;
}

@keyframes slide {
0%	{ left: 0%; }
9% { left: -100%; }
18% { left: -200%; }
27% { left: -300%; }
36% { left: -400%; }
45% { left: -500%; }
54% { left: -600%; }
63% { left: -700%; }
72% { left: -800%; }
81% { left: -900%; }
90% { left: -1000%; }
100% { left: -1100%; }
}